table,td,tr{
    width: 275px;

}

td,tr{
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

body{
    background-image:url("tableimages/sloth.png");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size:700px;
    margin-bottom: 600px;
}

h2{
    margin-left: 90px;
    font-size: 15px;
}